{{> header}}

<h2>{{response.book_isbn}}</h2>
<p>{{response.title}}</p>
<p>{{response.author}}</p>
<p>{{response.publisher}}</p>
<p>{{response.publication_year}}</p>
<p>{{response.language}}</p>
<p>{{response.pages}}</p>
<p>{{response.format}}</p>
<p>{{response.price}}</p>

{{> footer}}